html{
    font-size: 16px;
}
 
body{
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: 400;
    background-image: url(https://sun9-58.userapi.com/impg/2VWffiTfIvXtBkBNEX8xIBd6aDOw4nlBAWl-Vw/xcja-Qy-IEs.jpg?size=1738x2160&quality=96&sign=5a53aef318fb8a437317111bb0af2b58&type=album);
    min-width: 320px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    background-attachment: fixed;
    height: 140vh;
}
 
/* Header */
.full_header{
    background-color: rgb(252,231,140);
    justify-content: space-between;
    display: flex;
}

.wrapper {
    background-color: black;
    border-radius: 0px 20px 20px 0px;
    text-align: center;
    color: rgb(252,231,140);
    font-family: 'Tilt Neon', cursive;
}

.wrapper .input-group input{
    background-color: rgb(252,231,140);
}

.wrapper .form-check{
    margin-right: 10%;
    margin-left: 10%;
}

.input-group {
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 2%;
}

.wrapper h1 {
    margin: 5%;
    font-weight: 700;
}

.wrapper hr {
    border-top: 3px double black;
    border: 2px solid rgb(252,231,140);
    overflow: visible;
    height: 5px;
}

.navbar{
    margin: 0  auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-container-1 {
    background-color: #111;
    border-radius: 20px 0px 0px 20px;
}

.navbar-container-1 .navbar-nav {
    flex-direction: column;
    background-color: #111;
}

.nav-item-1 {
    height: 20vh;
    margin: 5%;
    font-size: 25px;
}

.nav-item-1 .nav-link:hover {
    border: 2px solid rgb(185, 88, 40);
    color: rgb(185, 88, 40);
}

p{
    margin: 5%;
}

.nav-item-1 .nav-link{
    color: rgb(252,231,140);
    text-align: center;
    border: 2px solid rgb(252,231,140);
    border-radius: 20px 0px 0px 20px;
}

.navbar .navbar-nav .nav-link{
    font-weight: 400;
}

.navbar-nav{
    width: 100%;
}

.navbar .top-menu li a{
    color: black;
}
.navbar .top-menu li a:hover{
    color: rgb(185, 88, 40);
    transition: all 0.3s;
}
 
.modal-backdrop {
    z-index: -1;
}
.modal-footer {
    justify-content: center;
}
 
.btn{
    width: 80%;
    padding: 10px;
}
 
.btn-primary {
    background-color: rgb(252,231,140);
    color: black;
    border: none;
    transition: all 0.5s;
    height: 5vh;
}

.btn-primary:hover {
    color: rgb(185, 88, 40);
    background-color: rgb(252,231,140);
}

 
@keyframes flareAnimation {
    0% {
        left: -150%;
    }
    50% {
        left: 150%;
    }
    100% {
        left: 150%;
    }
}
 
/* Header */
 
/*Body*/
.grad {
    width: 100%;
    height: 200px;
 
    background: rgb(252,231,140);
    background: linear-gradient(180deg, rgb(252,231,140) 0%, rgb(253,222,87) 100%);
}